src/components/*/__tests__/
src/components/*/__tests__/**
src/hooks/*/__tests__/
src/hooks/*/__tests__/**
src/design-system/__tests__/
src/design-system/__tests__/**
src/components/cell/__tests__/cell.test.tsx

docs/**
docs-dist/**
.rndoc/**
.trae/**
.turbo/**
.playwright-mcp/**
RnSystemUi/**
react-native-xiaoshu-main/**
react-vant-main/**
react-native-aria-main/**
react-native-wheely-master/**

*.log
*.tgz
