p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

pre[class*="language-"] {
  background: #fafafa;
  border-radius: 16px;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
.hljs-keyword {
  color: #07a;
}
.hljs-title {
  color: #58727e;
}
.hljs-string {
  color: #9a6e3a;
}
.hljs-title.function_ {
  color: #dd4a68;
}
.hljs-tag {
  color: #905;
}
.hljs-tag .hljs-attr {
  color: #690;
}
.hljs-tag .hljs-string {
  color: #07a;
}
.language-jsx {
  word-wrap: break-word;
  -webkit-font-smoothing: auto;
  background-color: #fafafa;
  border-radius: 16px;
  color: #999;
  display: block;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  overflow-x: auto;
  padding: 16px;
  position: relative;
  white-space: pre-wrap;
}

.doc-container {
  overflow: hidden;
  display: flex;
  padding: 20px;
}
.code-container {
  flex: 1;
  overflow-y: auto;
}
.code-container h1 {
  margin: 0 0 30px;
  font-size: 34px;
}
.code-container h2 {
  margin: 52px 0 20px;
  font-size: 26px;
}
.code-container > p > code {
  -webkit-font-smoothing: antialiased;
  background-color: #f7f8fa;
  border-radius: 4px;
  display: inline;
  font-family: inherit;
  font-size: 14px;
  margin: 0 2px;
  padding: 2px 5px;
  word-break: keep-all;
}
.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 12px #ebedf0;
  margin-bottom: 24px;
  padding: 24px;
}
.md-code .card h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #323233;
}
.md-code .card p {
  margin-top: 16px;
  font-size: 15px;
  line-height: 26px;
  color: #34495e;
}

.code-container .card > table {
  border-collapse: collapse;
  color: #34495e;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 12px;
  width: 100%;
}
.code-container .card > table th {
  font-weight: 600;
  padding: 8px 10px;
  text-align: left;
}
.code-container .card > table th:first-child {
  padding-left: 0;
}
.code-container .card > table td {
  border-top: 1px solid #f1f4f8;
  padding: 8px;
}
.code-container .card > table td:first-child {
  padding-left: 0;
}
.code-container .card > table code {
  -webkit-font-smoothing: antialiased;
  background-color: #f7f8fa;
  border-radius: 4px;
  display: inline;
  font-family: inherit;
  font-size: 14px;
  margin: 0 2px;
  padding: 2px 5px;
  word-break: keep-all;
}
.code-container .card > table em {
  -webkit-font-smoothing: auto;
  color: #4fc08d;
  font-family: Source Code Pro, Monaco, Inconsolata, monospace;
  font-size: 14px;
  font-style: normal;
}

.demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 336px;
  margin-left: 20px;
}
.demo-container-wraper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 637px;
  padding: 32px 8px 36px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM2IiBoZWlnaHQ9IjYzNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHJlY3QgaWQ9ImEiIHg9IjgiIHk9IjMyIiB3aWR0aD0iMzIwIiBoZWlnaHQ9IjU2OSIgcng9IjIwIi8+PHBhdGggZD0iTTggODdoMzIwdjQ5NGMwIDExLjA0Ni04Ljk1NCAyMC0yMCAyMEgyOGMtMTEuMDQ2IDAtMjAtOC45NTQtMjAtMjBWODdaIiBpZD0iYiIvPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00MCAwaDI1NmMyMi4wOTEgMCA0MCAxNy45MDkgNDAgNDB2NTU3YzAgMjIuMDkxLTE3LjkwOSA0MC00MCA0MEg0MGMtMjIuMDkxIDAtNDAtMTcuOTA5LTQwLTQwVjQwQzAgMTcuOTA5IDE3LjkwOSAwIDQwIDBaIiBmaWxsPSIjRkZGIi8+PHVzZSBmaWxsPSIjZmFmYWZhIiB4bGluazpocmVmPSIjYSIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0MiAxNCkiIGZpbGw9IiNDQ0Q1REIiPjxyZWN0IHdpZHRoPSI0NCIgaGVpZ2h0PSI0IiByeD0iMiIvPjxjaXJjbGUgY3g9IjUwIiBjeT0iMiIgcj0iMiIvPjwvZz48L2c+PC9zdmc+)
    50% no-repeat;
  border-radius: 36px;
  box-shadow: 0 4px 12px #ebedf0;
  box-sizing: border-box;
}

.demo-container-content {
  flex: 1;
  overflow-y: auto;
}
.demo-container .demo-container-title h1 {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: auto;
  text-transform: capitalize;
  position: relative;
  background-color: #fff;
  text-align: center;
}

.demo-container .demo-block-title h3 {
  margin: 0;
  padding: 20px 16px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #969799;
}

.demo-container .md-demo {
  overflow-y: auto;
}

.demo-container .demo-block-content {
  padding: 0 16px;
}
