.demo-button {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 8px;
  margin-bottom: 12px;
}

.demo-button:last-child {
  margin-bottom: 0;
}

.demo-button--column {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
}

.demo-button__group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
