.demo-tabs {
  background: transparent;
}

.demo-tabs__block {
  padding-top: 6px;
  margin-bottom: 16px;
  background-color: #ffffff;
}

.demo-tabs__block:last-child {
  margin-bottom: 0;
}

.demo-tabs__pane {
  padding: 24px 20px;
  font-size: 14px;
  color: #323233;
  line-height: 1.6;
  background-color: #ffffff;
}

.demo-tabs__pane--plain {
  padding: 24px 20px;
  font-size: 14px;
  color: #323233;
  line-height: 1.6;
  background-color: #ffffff;
}