@import '../styles/var.less';

.doc-layout {
  min-height: 100vh;
  background-color: var(--mdoc-background-color);
  color: var(--mdoc-font-color-base);
}

.doc-layout__body {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: (@van-doc-header-top-height + 24px) 40px 80px;
  box-sizing: border-box;
  margin-left: var(--mdoc-menu-width);
}

@media (max-width: 1360px) {
  .doc-layout__body {
    padding-right: 24px;
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .doc-layout__body {
    margin-left: calc(var(--mdoc-menu-width) - 60px);
  }
}
