@import '../../styles/var.less';
@import './code.less';

.doc-md-content {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  word-break: break-word;
  color: var(--mdoc-md-text-color);
  font-size: 15px;
  line-height: 1.75;

  h2,
  h3,
  h4 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 700;
    color: var(--mdoc-menu-category-color);
  }

  p {
    margin-bottom: 16px;
  }

  pre {
    margin: 24px 0;
    border-radius: 12px;
    background: var(--mdoc-md-code-background-color);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 24px 0;

    th,
    td {
      border: 1px solid var(--mdoc-md-table-border-color);
      padding: 12px 16px;
      text-align: left;
    }
  }

  @media (min-width: 1680px) {
    max-width: 50vw;
  }

  &--fluid {
    max-width: 100%;
  }

  &--blank {
    padding: 0;
    max-width: 100%;
  }

  &__meta {
    padding-top: 50px;
    font-size: 13px;
    opacity: 0.5;

    svg {
      width: 16px;
      vertical-align: sub;
    }
  }
}
